[user]
	email = afong@slack-corp.com
	name = Andrew Fong
[push]
  default = current
[alias]
  co = checkout
  st = status
  ds = diff --staged
  wd = diff --word-diff
  rc = rebase --continue
  unstash = stash pop
